@model ClientPortal.Models.ForgotPasswordVm
@{
	Layout = "_Layout";
}
<h3>Forgot Password</h3>
<form asp-action="ForgotPassword" method="post">
	<label>Email <input asp-for="Email" /></label>
	<button class="primary">Send Reset Link</button>
</form>
